body {
    font-family: sans-serif;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #new-task {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Arredondamento apenas nos cantos esquerdo */
    flex-grow: 1; /* Ocupa o espaço restante */
  }
  
  #add-task {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0; /* Arredondamento apenas nos cantos direito */
    cursor: pointer;
  }
  
  #task-list {
    list-style: none;
    padding: 0;
  }
  
  #task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #task-list li.completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
  }